{{ define "main" }}
	<main>
		<h1>{{ .Title | replaceRE "\"[^\"]*\"" "&laquo;&nbsp;$0&nbsp;&raquo;" | replaceRE "\"" "" | markdownify }}</h1>

		<div class='edito'>
			{{ .Params.edito | replaceRE "\"[^\"]*\"" "&laquo;&nbsp;$0&nbsp;&raquo;" | replaceRE "\"" "" | markdownify }}
		</div>

		{{ with .Site.GetPage .Params.temoignages }}
			<article>
				<p class='separator'>● ● ●</p>

				<img src="{{ .Site.BaseURL }}{{ .Params.image }}" class='hero' />
				<h2>💬 {{ .Title | replaceRE "\"[^\"]*\"" "&laquo;&nbsp;$0&nbsp;&raquo;" | replaceRE "\"" "" | markdownify }}</h2>
				<h3>
					{{ if eq (len .Params.authors) 1 }}
						<img src="{{ .Site.BaseURL }}/media/team/{{ index .Params.authors 0 }}.jpg" width="40" height="40" class="author-pic" />
					{{ end }}
					<span style="">Par {{ delimit .Params.authors ", " " & " }}</span>
				</h3>

				{{ .Params.text | replaceRE "\"[^\"]*\"" "&laquo;&nbsp;$0&nbsp;&raquo;" | replaceRE "\"" "" | markdownify }}
			</article>
		{{ end }}

		{{ with .Site.GetPage .Params.vu_d_ailleurs }}
			<article>
				<p class='separator'>● ● ●</p>

				<img src="{{ .Site.BaseURL }}{{ .Params.image }}" class='hero' />

				<h2>🌏 Vu d'ailleurs</h2>
				<h3>
					{{ if eq (len .Params.authors) 1 }}
						<img src="{{ .Site.BaseURL }}/media/team/{{ index .Params.authors 0 }}.jpg" width="40" height="40" class="author-pic" />
					{{ end }}
					<span style="">Par {{ delimit .Params.authors ", " " & " }}</span>
				</h3>
				<h4>{{ .Title | replaceRE "\"[^\"]*\"" "&laquo;&nbsp;$0&nbsp;&raquo;" | replaceRE "\"" "" | markdownify }}</h4>

				{{ .Params.text | replaceRE "\"[^\"]*\"" "&laquo;&nbsp;$0&nbsp;&raquo;" | replaceRE "\"" "" | markdownify }}
			</article>
		{{ end }}

		{{ with .Site.GetPage .Params.on_debunke }}
			<article>
				<p class='separator'>● ● ●</p>

				<img src="{{ .Site.BaseURL }}{{ .Params.image }}" class='hero' />

				<h2>🔎 On débunke&nbsp;!</h2>
				<h3>
					{{ if eq (len .Params.authors) 1 }}
						<img src="{{ .Site.BaseURL }}/media/team/{{ index .Params.authors 0 }}.jpg" width="40" height="40" class="author-pic" />
					{{ end }}
					<span style="">Par {{ delimit .Params.authors ", " " & " }}</span>
				</h3>
				<h4>{{ .Title | replaceRE "\"[^\"]*\"" "&laquo;&nbsp;$0&nbsp;&raquo;" | replaceRE "\"" "" | markdownify }}</h4>

				{{ if eq .Params.veracity "Faux" }}
					<p class='veracity fake'>FAUX</p>
				{{ else if eq .Params.veracity "Vrai" }}
					<p class='veracity true'>VRAI</p>
				{{ else }}
					<p class='veracity trueish'>PAS EXACTEMENT</p>
				{{ end }}

				{{ .Params.text | replaceRE "\"[^\"]*\"" "&laquo;&nbsp;$0&nbsp;&raquo;" | replaceRE "\"" "" | markdownify }}
			</article>
		{{ end }}

		{{ with .Site.GetPage .Params.la_bonne_nouvelle }}
			<article>
				<p class='separator'>● ● ●</p>

				<img src="{{ .Site.BaseURL }}{{ .Params.image }}" class='hero' />

				<h2>💡 La bonne nouvelle</h2>
				<h3>
					{{ if eq (len .Params.authors) 1 }}
						<img src="{{ .Site.BaseURL }}/media/team/{{ index .Params.authors 0 }}.jpg" width="40" height="40" class="author-pic" />
					{{ end }}
					<span style="">Par {{ delimit .Params.authors ", " " & " }}</span>
				</h3>
				<h4>{{ .Title | replaceRE "\"[^\"]*\"" "&laquo;&nbsp;$0&nbsp;&raquo;" | replaceRE "\"" "" | markdownify }}</h4>

				{{ .Params.text | replaceRE "\"[^\"]*\"" "&laquo;&nbsp;$0&nbsp;&raquo;" | replaceRE "\"" "" | markdownify }}

				<p class='separator'>● ● ●</p>
			</article>
		{{ end }}

		<div class='outro'>
			{{ .Params.outro | replaceRE "\"[^\"]*\"" "&laquo;&nbsp;$0&nbsp;&raquo;" | replaceRE "\"" "" | markdownify }}
		</div>

	</main>
{{ end }}
