{{ define "main" }}
	<main>
		<article>
			<img src="{{ .Site.BaseURL }}{{ .Params.image }}" class='hero' />
			<h1 class='balance-text'>
				{{ .Title | replaceRE "\"[^\"]*\"" "&laquo;&nbsp;$0&nbsp;&raquo;" | replaceRE "\"" "" | markdownify }}
			</h1>
			{{ if gt (len .Params.authors) 0 }}
				<h3 class='authors'>
					{{ if eq (len .Params.authors) 1 }}
						<img src="{{ .Site.BaseURL }}/media/team/{{ index .Params.authors 0 }}.jpg" width="40" height="40" style="vertical-align: middle; border-radius: 50%; margin-right: 5px;" />
					{{ end }}
					<span style="">Par {{ delimit .Params.authors ", " " & " }}</span>
				</h3>
			{{ end }}

			{{ .Params.text | replaceRE "\"[^\"]*\"" "&laquo;&nbsp;$0&nbsp;&raquo;" | replaceRE "\"" "" | markdownify }}

			<p class='separator'>● ● ●</p>
		</article>
	</main>
	{{ partial "paywall" }}
	{{ partial "thanks-scpo" }}
{{ end }}

{{ define "page-script" }}
	<script>
		window.addEventListener('load', () => {
			if (window.location.hostname !== 'localhost' && sessionStorage.getItem('status') !== 'subscribed') {
				document.querySelector('.paywall').classList.add('visible');
				document.querySelector('main').classList.add('blurred');
			}
		});

		document.querySelector('#unlock').addEventListener('submit', async (e) => {
			e.preventDefault();
			document.querySelectorAll('.paywall *:not(.separator)').forEach(e => e.style.visibility = 'hidden');
			document.querySelector('.paywall > .separator').classList.add('animated');
			const response = await fetch("https://europe-west1-le-point-q.cloudfunctions.net/isContact?email=" + e.target.email.value);
			const { status } = await response.json();
			if (status === 'subscribed') {
				document.querySelector('main').classList.remove('blurred');
				document.querySelector('.paywall').classList.remove('visible');
				sessionStorage.setItem('status', 'subscribed');
			}
			else {
				document.querySelectorAll('.paywall *:not(.separator)').forEach(e => e.style.visibility = 'visible');
				document.querySelector('.paywall .separator').classList.remove('animated');
			}
		});

		document.querySelector('#subscribe').addEventListener('submit', async (e) => {
			e.preventDefault();
			fetch("https://europe-west1-le-point-q.cloudfunctions.net/addContact?email=" + e.target.email.value);
			document.querySelector('main').classList.remove('blurred');
			document.querySelector('.paywall').classList.remove('visible');
			sessionStorage.setItem('status', 'subscribed');
		});
	</script>
{{ end }}
