@import url('https://fonts.googleapis.com/css2?family=Yeseva+One&family=Lato:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

body {
	font-family: 'Lato', sans-serif;
}

hr {
	border: 1px solid tomato;
	margin: 2rem 0;
}

p {
	margin: 0.5rem 0;
}

h1, h2, h3, h4 {
	margin: 1rem 0 0.5rem;
}

h1 {
	font-size: 3rem;
}

h2 {
	font-size: 1.6rem;
	font-weight: bold;
}

h3 {
	font-size: 1.1rem;
	font-style: italic;
	font-weight: normal;
	color: #333333;
}

h4 {
	font-size: 1.1rem;
}

a {
	font-weight: bold;
	text-decoration: none;
	color: tomato;
}

a:hover {
	background: tomato;
	color: white;
}

ul {
	margin: 0;
	padding: 0;
}

li {
	list-style-type: none;
}

header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: start;
}

header #logo:hover {
	background: white;
}


header #logo img {
	padding: 1rem 0;
	width: 8rem;
}

header nav {
	margin-right: 1rem;
	margin-top: 2rem;
}

header nav a {
	font-size: 1.2rem;
	margin: 0 1rem;
}

main {
	display: flex;
	flex-direction: column;
	justify-content: start;
	align-items: center;
	width: 50%;
	max-width: 600px;
	margin: 8rem auto 0;
}

main li {
	margin: 0.5rem;
}

main li a {
	font-size: 1.1rem;
}

main article {
	padding: 1rem;
	text-align: justify;
}

main article .hero {
	width: 100%;
}

main article h1 {
	font-size: 1.6rem;
	text-align: center;
}

main article h3 {
	font-size: 1.2rem;
	color: #555555;
	text-align: center;
}

main article h4 {
	font-size: 1.3rem;
	text-align: center;
}

main article p {
	font-size: 1.1rem;
}

main article .edito {
	color: #333333;
}

main article .fake {
	font-size: 1.2rem;
	font-weight: bold;
	color: crimson;
	padding: 2px 4px;
	border: 0.25rem solid crimson;
	display: table;
	margin: 0 auto;
}

.separator {
	color: tomato;
	text-align: center;
	margin: 2rem 0;
}

@media (max-width: 64rem) {
	main article {
		width: 75%;
	}
}

@media (max-width: 32rem) {
	main article {
		width: 90%;
	}
}

#subscribe {
	display: flex;
}

#subscribe > input {
	margin: 0.5rem;
	outline: none;
	/* border: 1px solid tomato; */
}

#subscribe > input[type='submit'] {
	background: tomato;
	border: none;
	border-radius: 2px;
	padding: 0.5rem 1rem;
	cursor: pointer;
	color: white;
	font-weight: bold;
	width: 100%;
}

#alert {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	background: tomato;
	color: white;
	padding: 0.5rem;
	opacity: 0;
	transition: opacity 2s ease;
	text-align: center;
}

#alert.active {
	opacity: 1;
	transition: opacity 0.3s ease;
}
