@import url('https://fonts.googleapis.com/css2?family=Yeseva+One&family=Lato:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Source+Sans+Pro&family=Fira+Code:wght@600&display=swap');

body {
	font-family: 'Lato', sans-serif;
	--main-color: #F47B67;
	--secondary-color: #E51127;
	--grey: #555555;
}

hr {
	border: 1px solid var(--main-color);
	margin: 2rem 0;
}

p {
	margin: 0.5rem 0;
}

h1, h2, h3, h4 {
	margin: 1rem 0 0.5rem;
	scroll-margin-top: 6rem;
}

h1 {
	font-size: 3rem;
}

h2 {
	font-size: 1.6rem;
	font-weight: bold;
}

h3 {
	font-size: 1.1rem;
	font-style: italic;
	font-weight: normal;
	color: #333333;
}

h4 {
	font-size: 1.1rem;
}

a {
	font-weight: bold;
	text-decoration: none;
	color: var(--main-color);
}

a:hover {
	background: var(--main-color);
	color: white;
}

ul, ol {
	margin: 0;
	padding: 0;
}

li {
	list-style-type: none;
}

header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background: rgba(255, 255, 255, 0.8);
	z-index: 42;
}

header #logo:hover {
	background: white;
}


header #logo img {
	padding: 1rem 0;
	width: 8rem;
	transition: all 0.3s ease;
}

header.minified #logo img {
	padding: 0.5rem 0;
	width: 4rem;
}

header nav {
	display: flex;
	margin-right: 1rem;
}

header nav a {
	font-size: 1.2rem;
	margin: 0 1rem;
	display: table;
}

header nav a:hover {
	color: var(--secondary-color);
	background: inherit;
}

@media only screen and (max-width: 64rem) {
	header nav {
		flex-direction: column;
		align-items: flex-end;
		margin-top: 0;
	}

	header nav a {
		margin: 0.2rem 0;
	}
}

footer {
	text-align: center;
	font-size: 0.9rem;
	color: var(--grey);
	margin-bottom: 1rem;
}

.social-icon {
	font-size: 1.5rem;
	margin: 0 0.5rem;
	color: var(--main-color);
	cursor: pointer;
}

.social-icon:hover, footer a:hover {
	color: var(--secondary-color);
	background: inherit;
}

main {
	display: flex;
	flex-direction: column;
	justify-content: start;
	align-items: center;
	width: 50%;
	max-width: 600px;
	height: auto;
	margin: 10rem auto 4rem;
}

@media only screen and (max-width: 96rem) {
	main {
		width: 75%;
	}
}

@media only screen and (max-width: 32rem) {
	main {
		width: 90% !important;
	}
}

main.homepage {
	width: 75%;
	max-width: 60rem;
}

main.homepage h2 {
	max-width: 600px;
}

main.homepage img.us {
	width: 100%;
	border-radius: 100% 100% 0 0;
}

#subscribe, #unlock {
	width: 100%;
	background: var(--main-color);
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 2rem 0;
}

input {
	margin: 0.5rem;
	outline: none;
	/* border: 1px solid var(--main-color); */
}

input[type='submit'], button {
	background: var(--main-color);
	border: 2px solid white;
	border-radius: 0.25rem;
	padding: 0.5rem 1rem;
	cursor: pointer;
	color: white;
	font-weight: bold;
	width: fit-content;
	width: -moz-fit-content;
}

input[type='submit']:hover, button:hover {
	background: white;
	color: var(--main-color);
}

input[type='submit'].inverted, button.inverted {
	background: white;
	border: 2px solid var(--main-color);
	color: var(--main-color);
}

input[type='submit'].inverted:hover, button.inverted:hover {
	background: var(--main-color);
	color: white;
}

@media only screen and (max-width: 48rem) {
	#subscribe, #unlock {
		flex-direction: column;
		align-items: center;
	}

	input {
		font-size: 1.1rem;
	}
}

.testimonials {
	text-align: center;
}

.testimonials li {
	color: var(--grey);
	max-width: 30rem;
	margin: 2rem auto;
	text-align: justify;
	display: inline-block;
}

.testimonials li:nth-child(2n) {
	transform: translateX(25%);
}

.testimonials li:nth-child(2n+1) {
	transform: translateX(-25%);
}

.testimonials li .text {
	width: 90%;
	margin: 0 auto;
	position: relative;
	font-size: 1.1rem;
	font-style: italic;
}

.testimonials li .text::before,
.testimonials li .text::after {
	position: absolute;
	font-family: 'Yeseva One', cursive;
	font-size: 5rem;
	font-style: normal;
	line-height: 60%;
	color: var(--main-color);
	z-index: -1;
	opacity: 1;
}

.testimonials li .text::before {
	content: "\00ab";
	left: 0;
	top: 20%;
	transform: translate(-120%, -50%);
}

.testimonials li .text::after {
	content: "\00bb";
	right: 0;
	bottom: 20%;
	transform: translate(120%, 50%);
}

.testimonials li .name {
	color: var(--grey);
	text-align: center;
	font-weight: bold;
}

@media only screen and (max-width: 48rem) {
	.testimonials li {
		transform: translateX(0) !important;
	}
}

#alert {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	background: var(--main-color);
	color: white;
	padding: 0.5rem;
	opacity: 0;
	transition: opacity 2s ease;
	text-align: center;
	z-index: 101;
}

#alert p {
	width: 80%;
	margin: 0 auto;
}

#alert.active {
	opacity: 1;
	transition: opacity 0.3s ease;
}

main ul {
	width: 100%;
}

main li {
	margin: 0.5rem;
}

main li a {
	font-size: 1.1rem;
}

main .icon {
	vertical-align: middle;
}

main article {
	width: 100%;
	padding: 0 1rem;
	text-align: justify;
}

main article ul, main .outro ul,
main article ol, main .outro ol {
	margin-left: 2rem;
}

main article ul, main .outro ul > li {
	list-style-type: disc;
	font-size: 1.1rem;
}

main article ol, main .outro ol > li {
	list-style-type: decimal;
	font-size: 1.1rem;
}

main article .hero {
	width: 100%;
}

main h1 {
	font-size: 2rem;
	text-align: center;
}

main .edito, main .outro {
	color: var(--grey);
	font-size: 1.1rem;
	text-align: justify;
}

main article h2 {
	font-size: 1.6rem;
	text-align: center;
}

main article h3, main .edito h3 {
	font-size: 1.2rem;
	font-style: normal;
	font-weight: bold;
	text-align: left;
}

main article h4 {
	font-size: 1.3rem;
	text-align: center;
}

main article p {
	font-size: 1.1rem;
}

main article .authors {
	font-size: 1.2rem;
	color: var(--grey);
	text-align: center;
}

main article .author-pic {
	vertical-align: middle;
	border-radius: 50%;
	margin-right: 0.3rem;
}

main article .veracity {
	font-size: 1.2rem;
	font-weight: bold;
	padding: 2px 4px;
	border-width: 0.25rem;
	border-style: solid;
	display: table;
	margin: 0 auto;
}

main article .veracity.fake {
	color: crimson;
	border-color: crimson;
}

main article .veracity.true {
	color: forestgreen;
	border-color: forestgreen;
}

main article .veracity.trueish {
	color: var(--main-color);
	border-color: var(--main-color);
}

main article blockquote:not(.tiktok-embed) {
	margin: 2rem auto;
	padding: 0.25rem 0.5rem;
	background: var(--main-color);
	width: 80%;
}

main article blockquote:not(.tiktok-embed) p {
	text-align: left;
	font-size: 1.3rem;
	font-weight: bold;
	color: white;
}

main article li {
	list-style-type: disc;
}

main article label {
	display: block;
}

.separator {
	color: var(--main-color);
	text-align: center;
	margin: 2.5rem 0;
}

.anychart-credits {
	display: none !important;
}

.paywall {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: white;
	background: var(--main-color);
	width: 50%;
	max-width: 500px;
	padding: 1rem;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-size: 1.1rem;
	display: flex;
	visibility: hidden;
}

@media only screen and (max-width: 96rem) {
	.paywall {
		width: 75%;
	}
}

@media only screen and (max-width: 32rem) {
	.paywall {
		width: 90% !important;
	}
}

.paywall.visible {
	visibility: visible;
}

.paywall button {
	margin-top: 1rem;
}

main.blurred {
	filter: blur(5px);
	color: transparent !important;
	text-shadow: 0 0 5px rgba(0,0,0,0.5) !important;
}

.separator.animated {
	animation: pulse 0.6s linear infinite;
}

@keyframes pulse {
	0% {
		transform: scale(1);
	}
	80% {
		transform: scale(1);
	}
	90% {
		transform: scale(1.5);
	}
	100% {
		transform: scale(1);
	}
}

.referral-link {
	display: table;
	max-width: 90%;
	margin: 1rem auto 0;
	border-radius: 0.25rem;
	border: 2px solid var(--main-color);
	white-space: nowrap;
}

.referral-link input {
	color: var(--grey);
	font-size: 0.9rem !important;
	border: none;
	margin: 0 0.5rem;
}

@media only screen and (max-width: 32rem) {
	.referral-link input {
		width: 150px;
	}
}

.referral-link span {
	height: 100%;
	padding: 0.5rem 1rem;
	color: white;
	background: var(--main-color);
	cursor: pointer;
}

.share-block {
	display: flex;
	justify-content: center;
}

.share-block .social-icon {
	font-size: 2rem;
	margin: 1rem;
}

.tipeee-plugins-widget-wrapper {
	justify-content: center !important;
}

#thanks-scpo {
	margin: 0 auto 2rem;
	font-family: 'Lato', sans-serif;
	font-size: 1rem;
	text-align: center;
	color: var(--grey);
}

#thanks-scpo img {
	display: block;
	margin: 0.5rem auto;
	width: 80%;
	max-width: 8rem;
}
