<!DOCTYPE html>
<html lang='{{ .Site.LanguageCode }}'>
	<head>
		<meta charset='UTF-8'>
		<meta name='viewport' content='width=device-width, initial-scale=1'>
		<meta http-equiv='X-UA-Compatible' content='IE=edge'>
		{{ block "title" . }}
			<title>{{ .Title | replaceRE "\"[^\"]*\"" "&laquo;&nbsp;$0&nbsp;&raquo;" | replaceRE "\"" "" | markdownify }} &ndash; Le Point Q</title>
		{{ end }}
		{{ with .Site.Params.description }}
			<meta name='description' content='{{ . }}'>
		{{ end }}

		<script src='https://use.fontawesome.com/23a22e79ae.js'></script>
		<link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.0.13/css/all.css' integrity='sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp' crossorigin='anonymous'>
		<link rel='stylesheet' href='/css/styles.css'>
	</head>
	<body>
		{{ partial "header" . }}
		{{ block "main" . }}{{ end }}
		{{ partial "footer" . }}
		{{ block "page-script" . }}{{ end }}
		{{ block "page-style" . }}{{ end }}

		<script>
			window.addEventListener('scroll', () => {
				if (window.scrollY > 100)
					document.querySelector('header').classList.add('minified');
				else
					document.querySelector('header').classList.remove('minified');
			});
		</script>

		<!-- Google Analytics -->
		<script>
			window.ga=window.ga||function(){(ga.q=ga.q||[]).push(arguments)};ga.l=+new Date;
			ga('create', 'UA-180273800-1', 'auto');
			ga('send', 'pageview');
		</script>
		<script async src='https://www.google-analytics.com/analytics.js'></script>
		<!-- End Google Analytics -->
	</body>
</html>
