<!DOCTYPE html>
<html lang='{{ .Site.LanguageCode }}'>
	<head>
		<meta charset='UTF-8'>
		<meta name='viewport' content='width=device-width, initial-scale=1'>
		<meta http-equiv='X-UA-Compatible' content='IE=edge'>
		{{ block "title" . }}
			<title>{{ .Title | replaceRE "\"[^\"]*\"" "&laquo;&nbsp;$0&nbsp;&raquo;" | replaceRE "\"" "" | markdownify }}</title>
		{{ end }}
		{{ with .Site.Params.description }}
			<meta name='description' content='{{ . }}'>
		{{ end }}
		<link rel='stylesheet' href='/css/styles.css'>
	</head>
	<body>
		{{ partial "header" . }}
		{{ block "main" . }}{{ end }}
		{{ partial "footer" . }}
		{{ block "page-script" . }}{{ end }}
		{{ block "page-style" . }}{{ end }}
		<script>
			window.addEventListener('scroll', () => {
				if (window.scrollY > 100)
					document.querySelector('header').classList.add('minified');
				else
					document.querySelector('header').classList.remove('minified');
			});
		</script>
	</body>
</html>
