{{ define "main" }}
	<main>
		<article>
			<h1>{{ .Title }}</h1>
			<!-- <time>{{ .Date.Format "24/10/1997" }}</time> -->
			<div>
				<div class='edito'>
					{{ .RenderString .Params.edito }}
				</div>
				{{ range .Params.content }}
					{{ if eq "section-principal" .template }}
						{{ partial "sections/principal" . }}
					{{ else if eq "section-vu-d-ailleurs" .template }}
						{{ partial "sections/principal" . }}
					{{ else if eq "section-on-debunke" .template }}
						{{ partial "sections/on-debunke" . }}
					{{ end }}
				{{ end }}
			</div>
		</article>
	</main>
{{ end }}
