<div class='paywall'>
	<p>Si tu veux lire ce contenu, connecte-toi avec ton adresse mail&nbsp;:</p>
	<form id="unlock" style="padding: 0;">
		<input
			type="email"
			name="email"
			placeholder="Entre ton adresse email"
			required
		/>
		<input type="submit" value="Débloquer">
	</form>
	<p class='separator' style='color: white; margin: 1.5rem 0;'>● ● ●</p>
	<p>Tu n’es pas encore abonné·e&nbsp;? N’attends plus&nbsp;!</p>
	<form id="subscribe" style="padding: 0;">
		<input
			type="email"
			name="email"
			placeholder="Entre ton adresse email"
			required
		/>
		<input type="submit" value="S’abonner">
	</form>
</div>
