{{ define "main"}}
	<main>
		<article>
			<h1 class='balance-text' style='margin-bottom: 2rem;'>
				{{ .Title }}
			</h1>

			{{ .Content | markdownify }}

			<div class='referral-link'>
				<input type='text'  />
				<span class='far fa-clipboard'></span>
			</div>

			<div class='share-block'>
				<a
					href='https://www.facebook.com/sharer/sharer.php?u={{ .Site.BaseURL }}'
					target='_blank'
					class='social-icon'
				>
					<span class='fab fa-facebook-f'></span>
				</a>
				<a
					href='https://twitter.com/intent/tweet?url={{ .Site.BaseURL}}&text={{ "Abonne-toi à @LePointQ 🍑, la newsletter qui te plonge dans l’univers du sexe et démystifie l’inconnue nommée « plaisir » ➡️" }}'
					target='_blank'
					class='social-icon'
				>
					<span class='fab fa-twitter'></span>
				</a>
				<a
					href='mailto:?subject={{ "Abonne-toi au Point Q ! 🍑" }}'
					target='_blank'
					class='social-icon'>
					<span class='far fa-envelope'></span>
				</a>
			</div>

			<!-- <a href='https://fr.tipeee.com/le-point-q' class='tipeee-project-btn'>
				Soutiens Le Point Q sur Tipeee
			</a>
			<script async src='https://plugin.tipeee.com/widget.js' charset='utf-8'></script> -->

			<img src="{{ .Site.BaseURL }}/media/lepointq_groupe_10.png" class='hero' style='margin: 1rem auto;' />
		</article>
	</main>
{{ end }}

{{ define "page-script" }}
	<script>
		const referrer = new URLSearchParams(window.location.search).get('referrer');
		document.querySelector('.referral-link input').value = 'https://lepointq.com' + (referrer ? '?referrer=' + referrer : '');

		document.querySelector('.referral-link span').addEventListener('click', (e) => {
			document.querySelector('.referral-link input').select();
			document.execCommand('copy');
			e.target.className = 'fas fa-check';
			setTimeout(() => e.target.className = 'far fa-clipboard', 1000);

		});
	</script>
{{ end }}
