{{ define "main"}}
	<main>
		<h2 style="text-align: center; margin-top: 0; margin-bottom: 2rem;">La newsletter qui te plonge dans l’univers du sexe et démystifie l’inconnue nommée &laquo;&nbsp;plaisir&nbsp;&raquo;</h2>
		<form id="subscribe" style="margin-bottom: 2rem;">
			<input
				type="email"
				name="email"
				placeholder="Entre ton adresse email"
				required
			/>
			<input type="submit" value="Je m’abonne !">
		</form>
		<ul class="testimonials">
			<li>
				<div class='content'>
					<p class="text">À la fin, on a plein de réponses à des questions qu&rsquo;on ne se posait pas forcément, et on a aussi plein de nouvelles questions soulevées par la lecture. C&rsquo;est un pari réussi&nbsp;! Bravo, j&rsquo;espère que vous allez continuer, j&rsquo;adore.</p>
					<p class="name">Léa</p>
				</div>
			</li>
			<li>
				<p class="text">C&rsquo;est cool de lire des contenus qui concernent les femmes, les hommes ou les deux. Ça permet d&rsquo;en apprendre plus sur des questions qui touchent l&rsquo;autre sexe&nbsp;!</p>
				<p class="name">Dany</p>
			</li>
			<li>
				<p class="text">Ça m&rsquo;a donné le sourire du début à la fin, j&rsquo;ai même ri. Il y a un peu d&rsquo;humour, ce sont des thèmes sérieux pris avec un langage léger. Ça donne envie d&rsquo;en discuter avec les autres, de montrer que ce n&rsquo;est pas tabou.</p>
				<p class="name">Katy</p>
			</li>
		</ul>
		<h2>Les dernières newsletters</h2>
		<ul style="width: auto;">
			{{ range (where .Site.RegularPages.ByDate.Reverse "Section" "newsletters") }}
				<li style="font-size: 1.1rem; margin: 0.5rem;">
					<a href="{{ .Permalink }}">
						#{{ .Params.numero}} &middot; {{ .Title | replaceRE "\"[^\"]*\"" "&laquo;&nbsp;$0&nbsp;&raquo;" | replaceRE "\"" "" | markdownify }}
					</a>
				</li>
			{{ end }}
		</ul>
	</main>

	<div id='alert'></div>
{{ end }}

{{ define "page-script" }}
	<script>
		const alert = document.querySelector('#alert');

		document.querySelector('form').addEventListener('submit', (e) => {
			e.preventDefault();
			fetch("https://europe-west1-le-point-q.cloudfunctions.net/addContact?email=" + e.target.email.value);
			e.target.email.value = '';

			alert.innerHTML = '<p>Ton inscription a bien été prise en compte&nbsp;! Merci ❤️</p>';
			alert.classList.toggle('active');
			setTimeout(() => alert.classList.toggle('active'), 5000);
		});
	</script>
{{ end }}
