{{ define "main" }}
	<main>
		<h2>Les derniers articles</h2>
		<ul>
			{{ range first 10 (where .Pages "Params.lang" "!=" "en") }}
				<li>
					<a href='{{ .Permalink }}' target='_self'>
						{{ .Title | replaceRE "\"[^\"]*\"" "&laquo;&nbsp;$0&nbsp;&raquo;" | replaceRE "\"" "" | replaceRE "<br />" " " | markdownify }}
					</a>
				</li>
			{{ end }}
		</ul>

		<p class='separator'>● ● ●</p>

		<h2 id='temoignages'>
			<img src="{{ .Site.BaseURL }}/media/icons/temoignages.svg" width="40" class='icon' />
			Témoignages
		</h2>
		<ul>
			{{ range (where (where .Pages "Params.section" "Témoignages") "Params.lang" "!=" "en") }}
				<li>
					<a href='{{ .Permalink }}' target='_self'>
						{{ .Title | replaceRE "\"[^\"]*\"" "&laquo;&nbsp;$0&nbsp;&raquo;" | replaceRE "\"" "" | replaceRE "<br />" " " | markdownify }}
					</a>
				</li>
			{{ end }}
		</ul>

		<p class='separator'>● ● ●</p>

		<h2 id='vu-d-ailleurs'>
			<img src="{{ .Site.BaseURL }}/media/icons/vu_d_ailleurs.svg" width="40" class='icon' />
			Vu d’ailleurs
		</h2>
		<ul>
			{{ range (where (where .Pages "Params.section" "Vu d’ailleurs") "Params.lang" "!=" "en") }}
				<li>
					<a href='{{ .Permalink }}' target='_self'>
						{{ .Title | replaceRE "\"[^\"]*\"" "&laquo;&nbsp;$0&nbsp;&raquo;" | replaceRE "\"" "" | replaceRE "<br />" " " | markdownify }}
					</a>
				</li>
			{{ end }}
		</ul>

		<p class='separator'>● ● ●</p>

		<h2 id='on-debunke'>
			<img src="{{ .Site.BaseURL }}/media/icons/on_debunke.svg" width="40" class='icon' />
			On débunke&nbsp;!
		</h2>
		<ul>
			{{ range (where (where .Pages "Params.section" "On débunke") "Params.lang" "!=" "en") }}
				<li>
					<a href='{{ .Permalink }}' target='_self'>
						{{ .Title | replaceRE "\"[^\"]*\"" "&laquo;&nbsp;$0&nbsp;&raquo;" | replaceRE "\"" "" | replaceRE "<br />" " " | markdownify }}
					</a>
				</li>
			{{ end }}
		</ul>

		<p class='separator'>● ● ●</p>

		<h2 id='la-bonne-nouvelle'>
			<img src="{{ .Site.BaseURL }}/media/icons/la_bonne_nouvelle.svg" width="40" class='icon' />
			La bonne nouvelle
		</h2>
		<ul>
			{{ range (where (where .Pages "Params.section" "La bonne nouvelle") "Params.lang" "!=" "en") }}
				<li>
					<a href='{{ .Permalink }}' target='_self'>
						{{ .Title | replaceRE "\"[^\"]*\"" "&laquo;&nbsp;$0&nbsp;&raquo;" | replaceRE "\"" "" | replaceRE "<br />" " " | markdownify }}
					</a>
				</li>
			{{ end }}
		</ul>

		<p class='separator'>● ● ●</p>

		<h2 id='plume-morgan'>
			<img src="{{ .Site.BaseURL }}/media/icons/plume_morgan.svg" width="40" class='icon' />
			Sous la plume de Morgan
		</h2>
		<ul>
			{{ range (where (where .Site.Pages "Section" "newsletters") "Params.lang" "!=" "en") }}
				{{ if .Params.plume_morgan }}
					<li>
						<a href='{{ .Permalink }}#plume-morgan' target='_self'>
							{{ .Title | replaceRE "\"[^\"]*\"" "&laquo;&nbsp;$0&nbsp;&raquo;" | replaceRE "\"" "" | replaceRE "<br />" " " | markdownify }}
						</a>
					</li>
				{{ end }}
			{{ end }}
		</ul>
	</main>
{{ end }}
